body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

header, nav, main, section, form, footer {
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header {
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-between;
}

section {
    width: 30%;
}

#recipes, #imageGallery, #recipeDetails {
    margin-bottom: 30px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    margin: 5px;
}

#recipeDetails {
    flex-grow: 1;
}

#recipeDetail {
    border: 1px solid #ccc;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin-top: 10px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    margin-top: 20px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
